.wizard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.wizard-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.wizard-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.wizard-body {
    display: flex;
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.wizard-status {
    width: 25% !important;
}

.wizard-panes {
    padding-left: 1.5rem !important;
}

@media (min-width: 576px) {
    .wizard-group > .wizard:not(:last-child) .wizard-footer, .wizard-group > .wizard:not(:last-child) .wizard-img-bottom {
        border-bottom-right-radius: 0;
    }
}

.wizard-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.wizard-footer {
    padding: .5rem 1rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
    text-align: right !important;
}