@using Microsoft.AspNetCore.Components;
@page "/Account/LoginCallback"
@inject AppStateBase  appState
@inject IUriHelper uriHelper

<div class="text-center">We're processing your login, please stand by...</div>

@functions
{

    protected override async Task OnInitializedAsync()
    {
        var uri = uriHelper.GetAbsoluteUri();
        var token = uri.Substring(uri.IndexOf("#") + 1);
        //System.Console.WriteLine(token);
        appState.ProcessToken(token);
    }

}