<div class="d-flex align-items-center justify-content-center w-100">
    <div class="col-6 mx-auto text-center loading">
        <div><img src="images/BrandBlazor_nohalo_1000x.png" class="ld ld-breath" style="width: 100px;" /></div>
        <div>Loading...</div>
    </div>
</div>

@code {

}
