@using CloudNimble.BlazorEssentials.TestApp.ViewModels;

@page "/adminpage"

@inject ConfigurationBase config
@inject AppStateBase appState
@inject SecuredPageViewModel viewModel

<h1>This is a secured page.</h1>
<p>You must be logged in <strong>as an admin</strong> to see this page.</p>

@functions 
{


}