@page "/"
@inject ConfigurationBase config

<h1>Hello, world!</h1>
<p>Welcome to your new app. </p>

<h3>Injected Configuration:</h3>
ApiRoot: "@config.ApiRoot"

<SurveyPrompt Title="How is Blazor working for you?" />

@functions {

    protected override async Task OnInitAsync()
    {
    
    }

}