@page "/IndexedDb"
@using CloudNimble.BlazorEssentials.TestApp.ViewModels
@using CloudNimble.BlazorEssentials.TestApp.Models

@inject IndexedDbViewModel viewModel

<PageTitle>BlazorEssentials | IndexedDB Demo</PageTitle>

<h1>IndexedDb Demo</h1>

<QuickGrid TGridItem="ExampleEvent" Items="@viewModel.ExampleEvents">
    <PropertyColumn Property="@(p => p.Id)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Description)" Sortable="true" />
</QuickGrid>

<div class="my-3">
    <HxButton Color="ThemeColor.Primary" OnClick="viewModel.AddEntry"><i class="far fa-plus pe-2" />Add Item to IndexedDb</HxButton>
    <HxButton Color="ThemeColor.Secondary" OnClick="FetchLimitedRecords" class="ms-2">Fetch 5 Records (Skip 2)</HxButton>
</div>

@code
{

    protected override async Task OnInitializedAsync()
    {
        viewModel.StateHasChanged.Action = StateHasChanged;
        await viewModel.Load();
    }

    private async Task FetchLimitedRecords()
    {
        await viewModel.LoadLimited(5, 2);
    }

}