@using CloudNimble.BlazorEssentials.TestApp.ViewModels;
@using System.ComponentModel;
@page "/"
@inject ConfigurationBase config
@inject AppStateBase appState
@inject IndexViewModel viewModel

<h1>Hello, world!</h1>
<p>Welcome to your new app. </p>

<SurveyPrompt Title="How is Blazor working for you?" />

<h3>Injected Configuration:</h3>
<p>ApiRoot: "@config.ApiRoot"</p>

@functions
{

    protected override async Task OnInitializedAsync()
    {
        appState.StateHasChangedAction += StateHasChanged;
        await Task.FromResult(true);
    }

}