@using CloudNimble.BlazorEssentials.TestApp.ViewModels;
@using System.ComponentModel;
@page "/"
@inject ConfigurationBase config
@inject AppStateBase appState
@inject IndexViewModel viewModel

<h1>Hello, world!</h1>
<p>Welcome to your new app. </p>

<SurveyPrompt Title="How is Blazor working for you?" />

<h3>Injected Configuration:</h3>
<p>ApiRoot: "@config.ApiRoot"</p>

<p>@viewModel.LoginStatus</p>

@functions
{

    void UserChangedHandler(object sender, PropertyChangedEventArgs e)
    {
        this.StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        //RWM: This is probably leaky and we need a better way to do this.
        appState.PropertyChanged += UserChangedHandler;
        appState.StateHasChangedAction += StateHasChanged;
        await Task.FromResult(true);
    }

}