@using CloudNimble.BlazorEssentials.TestApp.ViewModels;

@page "/securedpage"

@inject ConfigurationBase config
@inject AppStateBase appState
@inject SecuredPageViewModel viewModel

<h1>This is a secured page.</h1>
<p>You must be logged in to see this page.</p>

@functions
{
protected override async Task OnInitializedAsync()
{
    viewModel.AllowAnonymous = false;
    viewModel.Authorize();
}

}